@supports (grid-area: auto){
//main grid
    .main-grid{
        @include grid;
    }
}
@include respond-to('small'){
    .main-grid{
        @include desktop-grid;
        div:nth-child(2){
            grid-column-start: 2;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        div:nth-child(3){
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 5;
        }
        div:nth-child(11){
            grid-column-start: 1;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 5;
        }
    }

}