
* {font-family: arial;}


/*normalizer*/
html,header, footer, body, nav, div, img, a,ul, li, h1, h2{
margin: 0;
padding: 0;
text-decoration: none;
list-style-type: none;
}





body{

width: 100%;
max-width: 800px;
margin: 0 auto;


}

header

{
border-top: solid 3px grey;
border-bottom: solid 3px grey;
margin:20px;

}

.top_logo

{
padding: 20px;

}

/*Menu*/
input

{display:none;}

label{
color:black;
line-height: 10px;
font-size:1.5em;
cursor:pointer;

}

/*Hidden checkbox*/
#nav-toggle {
display: none;
}

/*Hide/show menu on mobile*/
#nav-toggle:checked + #wrapper nav ul {
display: block;
}


nav {
display: block;	

}

nav ul {margin-left:10px;
display:none;}

nav ul li {display:block;}

nav li li {padding-left:10px;}
nav a{
display:block;
text-decoration:none;
color:black;

}


ul li

{margin:5px;}




nav a:hover{
background:#223433;
color:#f0f1f5;
}
/*Puts content of the card in the center*/
.card

{
display:flex;
justify-content: center;
border-top:solid 1px black;
padding: 10px;


}


.card a

{

color: black;

}

.card h2

{text-align:center;

}



.caption {

background: hsla(246, 40%, 30%, .6);
color: white;
font-size: 1em;
transition: all .4s;
position: relative;
}


a:focus .caption,
a:hover .caption {
background: hsla(246, 40%, 30%, 1);
}

/*styling caption*/
.caption-title {
margin: 0;
font-size: 1.4em;
line-height: 1.1em;
}

/*Styling pictures so they get full width of the cards, height set to auto to prevent pictures from being smushed. If a height is set, then all pictures gets the same size*/

.card img

{
width:100%;
height: auto;}


/*styling*/
footer

{
border-top: solid grey 3px;
border-bottom: solid grey 3px;
color: grey;
padding:10px;
margin:20px;
display:flex;
justify-content:space-between;
}

footer a

{color: black;}

.tags p

{font-style: italic;
font-weight: bold;}

/*positioning buttons*/
.buttons

{ display: flex;
align-items: flex-end;
}



@supports (grid-area: auto) {
@media all and (min-width: 27em){

/*Header grid*/

header

{

display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 200px;



}
/*Mobile menu hides on desktop-version*/
label
{
display:none;
} 
#nav-toggle:checked + #wrapper nav ul {
display: block;
}

/*desktop menu*/
nav {

display:block;


}
/* styling menu /w flex */
nav ul

{

margin:10px;
display:flex;
justify-content: flex-end;


}

/*submenu*/
ul ul

{

flex-direction: column;
position:absolute;
}


/*Desktop menu*/
nav ul li{

width:100px;
height:40px;

padding:0;
}




/*Hides dropdown*/
nav ul ul li{
position:relative; 
display:none;
}



/*Shows submenu when hovering*/
nav ul li:hover ul li{
display: block;

}



.card_container {
display: grid;
grid-template-columns: 1fr 1fr;
margin: 3em 0; 
padding: 0.5em;
grid-gap:3em;
}


.card h2

{
font-size: 100%;
text-align:left;
padding-left:10px;

}


/*Makes the images fill the whole grid-item*/
.card img


{width:100%;
height:100%;
padding:0px;
margin: 0px;

}

/*Last picture spans over 2 columns*/
.card:nth-child(7)

{
grid-column: span 2;

}



/*Configures caption with hover effects*/
.caption {
display: flex;
position:absolute;
align-items: flex-end;
opacity: 0;
}



a:focus .caption,
a:hover .caption {

background: hsla(246, 40%, 30%, .6);

position: relative;
opacity: 0.5;
}


}
@media all and (min-width: 60em){


body
{
max-width: none;
}


/*Grid layout*/

.card_container

{display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 150px 150px 150px 150px;

}



/*Cards positioning*/
.card:nth-child(2)

{grid-column: 2/4;
grid-row: 1/3;
}

.card:nth-child(3)

{grid-column: 4/6;
grid-row: 1/2;

}
.card:nth-child(4)

{grid-column: 1/2;
grid-row: 2/3;
}



.card:nth-child(6)

{grid-column: 3/4;
grid-row: 3/5;

}

.card:nth-child(5)

{grid-column: 1/3;
grid-row: 3/5;
}

.card:nth-child(7)

{grid-column: 4/6;
grid-row: 2/5;
}





}
}